<h1><%= @lesson.title %></h1>
<button class="btn btn-danger"><%= link_to 'Edit', edit_chapter_lesson_path(@chapter, @lesson) %></button>
<button class="btn btn-danger"><%= link_to "Delete", chapter_lesson_path(@chapter, @lesson), :data => {:confirm => "Are you sure?", :method => "delete"}  %></button>

<br>
<br>

<p><%= @lesson.content %></p>

<%= content_for(:navleft) do %>
  <li>
    <% if @lesson.previous %>
      <a href="/chapters/<%= @chapter.id %>/lessons/<%= @lesson.previous.id%>">Previous Lesson</a><br>
    <% end %>
  </li>

  <li>
    <% if @lesson.next %>
      <a href="/chapters/<%= @chapter.id %>/lessons/<%= @lesson.next.id%>">Next Lesson</a><br>
    <% end %>
  </li>
<% end %>


<%= content_for(:navbar) do %>
  <li><a href="/chapters">Section Contents</a></li>
<% end %>
