<h1>Table of Contents</h1>

<button class="btn btn-danger"><%= link_to "Add New Chapter", new_chapter_path %></button>

<br>

<% @chapters.all.each do |chapter| %>
  <div class="chapter-box col-md-6">
    <h3><%= link_to chapter.name, chapter_path(chapter) %></h3>
    <span>
      | <%= link_to "Edit", edit_chapter_path(chapter) %> |
      <%= link_to "Delete", chapter_path(chapter), :data => {:confirm => "Are you sure?", :method => "delete"} %>
    </span>

    <ul>
      <% chapter.lessons.all.each do |lesson| %>
        <li><%= link_to lesson.title, chapter_lesson_path(chapter, lesson) %></li>
      <% end %>
    </ul>

  </div>
<% end %>


<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/chapters">Table of Contents</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
